page-profile {
.pane {
        background: url("../assets/images/otherImages/holiday2.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
